<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Gateway</title>
      <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0"/>
      <link type="image/png" href="../static/logo.png" rel="icon">
      <link type = "text/css" href="../static/style.css" rel="stylesheet">
      <link type = "text/css" href="../static/jquery-ui.min.css" rel="stylesheet">
   </head>
   <body>
      <div class="content">
         <div id="tabs">
            <ul>
               <li><a href="#tabs-1">Camera</a></li>
               <li><a href="#tabs-2">Cam Setting 1</a></li>
               <li><a href="#tabs-3">Cam Setting 2</a></li>
               <li><a href="#tabs-4">Cam AI</a></li>
            </ul>
            <div id="tabs-1">
               <div class="div-switch">
                  Camera :
                  <label class="switch"> 
                     <input type="checkbox" id="enableCamera">
                     <span class="slider round"></span>
                     
                  </label>
               </div>
               <div class="div-switch" style="width: 250px;">
                  <label for="duration"> Record duration :</label>
                  <select id="duration"  class="duration" width="100px">
                     <option value="30" selected="selected" >30s</option>
                     <option value="35">35s</option>
                     <option value="40">40s</option>
                     <option value="45">45s</option>
                     <option value="50">50s</option>
                     <option value="55">55s</option>
                     <option value="60">60s</option>
                  </select>
               </div>
               <div class="div-switch">
                  Intruder :
                  <label class="switch"> 
                     <input type="checkbox" id="enableIntruder" checked>
                     <span class="slider round"></span>
                  </label>
               </div>
            </div>
            
            <div id="tabs-2">
               <div class="div-switch tooltip" style="padding-left: 20px;">
                  Blur:
                  <button id="button-kernel-minus">Minus</button>
                  <b id="kernel-blur">5</b>
                  <button id="button-kernel-plus">Plus</button>
                  <span class="tooltiptext">Kernel Blur</span>
               </div>
               <div class="div-switch" style="margin: 0px 50px;">
                  <button class="button-default">Apply Default Settings</button>
               </div>
               <div class="div-switch tooltip">
                  Mask:
                  <button id="button-mask-minus">Minus</button>
                  <b id="mask-threshold">15</b>
                  <button id="button-mask-plus">Plus</button>
                  <span class="tooltiptext">Mask Threshold</span>
               </div>
            </div>
            <div id="tabs-3">
               <div class="div-switch tooltip">
                  Step:
                  <button id="button-surface-step-minus">Minus</button>
                  <b id="surface-step">1000</b>
                  <button id="button-surface-step-plus">Plus</button>
                  <span class="tooltiptext">Surface Step</span>
               </div>
               <div class="div-switch" style="margin: 0px 30px;">
                  <button class="button-default">Apply Default Settings</button>
               </div>
               <div class="div-switch tooltip">
                  Surf:
                  <button id="button-surface-threshold-minus">Minus</button>
                  <b id="surface-threshold" >10000</b>
                  <button id="button-surface-threshold-plus">Plus</button>
                  <span class="tooltiptext">Surface Threshold</span>
               </div>
            </div>
            <div id="tabs-4">
               <div class="div-switch">
                  Not Implemented
               </div>
            </div>
         </div>
         <div class="visual">
            <div class="item1">
               <button id="button-icon-disk">File Explorer</button>
            </div>
            <div class="item2">
               <h2 class="visual-title">CAMERA LIVE</h2>
            </div>
            <div class="item3">
               <button id="button-icon-info">About System</button>
            </div>

         </div>
      </div> 
   </body>
   <script src="../static/jquery-3.6.3.min.js"></script>
   <script src="../static/jquery-ui.min.js"></script> 
   <script src="../static/script.js"></script>
</html>