<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gateway</title>
        <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0"/>
        <link type="image/png" href="../static/logo.png" rel="icon">
        <link type = "text/css" href="../static/bootstrap.min.css" rel="stylesheet">
        <link type = "text/css" href="../static/style.css" rel="stylesheet">
        <link type = "text/css" href="../static/jquery-ui.min.css" rel="stylesheet">
        <script src="../static/jquery-3.6.3.min.js"></script>
        <script src="../static/jquery-ui.min.js"></script> 
        <script src="../static/script.js"></script>
    </head>
    <body>
        <!-- Header -->
        <header>
           
           
            <nav>
                <label class="logo" >opensnz-technology</label>
                <ul>
                    <li><a class="active" href="#">Status</a>
                        <ul>
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Graphs</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Devices</a></li>
                    <li><a href="#">Network</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main Content -->
        <main>
            <p>Welcome to my web page!</p>
            <button id="add" onclick="addDevice()">Add device</button>
            <button id="all" onclick="getDevices()">Get devices</button>
            <button id="system" onclick="getSystem()">Get System Info</button>
        </main>

        <!-- Footer -->
        <footer>
            <p>
                <a href="https://www.opensnz-technology.com">Visit Opensnz Technology Website</a>
            </p>
        </footer>
    </body>
</html>