<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>
<body>
    <p>Devices</p>
    <div class="container">
        <div class="col-md-11 center-block">
            <table class="table table-striped">
                <tr>
                    <th>Created_at</th>
                    <th>DevAddr</th>
                    <th>DevEUI</th>
                    <th>DevNonce</th>
                    <th>AppEUI</th>
                    <th>AppKey</th>
                    <th>FCnt</th>
                    <th>FPort</th>
                   
        

                </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>

                <td>
                    
                </td>
                <td>
                    
                </td>  
</body>
</html>