[Unit]
Description=Transceiver Service Daemon
StartLimitIntervalSec=86400
StartLimitBurst=8640
Requires=mosquitto.service
After=gateway.service

[Service]
User=pi
Group=sudo
Type=simple
WorkingDirectory=/home/pi/gateway/Transceiver
ExecStart=/usr/bin/python3 -u /home/pi/gateway/Transceiver/transceiver.py
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target