[Unit]
Description=Interface Service Daemon
StartLimitIntervalSec=86400
StartLimitBurst=8640

[Service]
User=pi
Group=sudo
Type=simple
WorkingDirectory=/home/pi/gateway/Interface
ExecStart=sudo /usr/bin/python3 -u /home/pi/gateway/Interface/webapp.py
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target