/*html,body {
    height: 100%;
    margin: 0;
    overflow: hidden;
 }

main{
    height:  90%;
}

header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgb(0, 67, 164);
    color: white;
    padding: 20px; 
  }
  
header img {
    height: 20px; 
    margin-right: 50px; 
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin: 0 10px;
    position: relative;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  nav li:hover > ul {
    display: inherit;
  }
  
  nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0082e6;
    display: none;
  }
  
  nav ul ul li {
    display: block;
    white-space: nowrap;
  }
  
  nav ul ul a {
    display: block;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #0082e6;
  }
  
  nav ul li:hover > a {
    background-color: #0082e6;
    color: white;
  }
  
  nav ul li:hover ul li:hover > a {
    background-color: rgb(47, 122, 235);
  }
  
  nav a:focus {
    background-color: #0082e6;
    color: white;
  }
  */

  *{
    padding: 0;
    margin : 0 ;
    text-decoration: none;
    box-sizing: border-box;
  }

  body {
    font-family: montserrat;
  }
  
  nav{
    display: flex;
    justify-content: center;
    background: #0082e6;
    height: 80px;
    width: 100%;
    justify-content: space-between;
  }
  label.logo{
    color :white;
    font-size : 35px ;
    line-height: 80px;
    padding :0 100px ;
    font-weight: bold;
  }

  nav ul{
    margin-right: 20px; 
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

  }

  nav li {
    margin: 0 10px;
    position: relative;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }

  nav ul li {
    display : inline-block;
    line-height: 30px;
    margin: 0 5px;
  }
  nav ul li a { 
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;

  }

  a.active , a:hover {
    background: #1b9bff;
    transition:.5s;;
  }

  nav li:hover > ul {
    display: inherit;
  }
  
  nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0082e6;
    display: none;
  }
  
  nav ul ul li {
    display: block;
    white-space: nowrap;
  }
  
  nav ul ul a {
    display: block;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #0082e6;
  }